body {
  font-family: 'Arial', sans-serif;
  color: #c0c0c0;
  background-color: #121212; 
  margin: 0;
  padding: 0;
}

header {
  background-color: #FF0000; 
  padding: 10px 20px;
  text-align: center;
  color: #FFFFFF; 
}
nav {
  background-color: #212121;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
nav a {
  color: #FFA500; 
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
  color: #FFFFFF; 
}
.container {
  padding: 20px;
  text-align: center;
}
.main-heading {
  color: #FFA500; 
  margin: 20px 0;
}
.overview {
  background-color: #282828; 
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  margin: 40px;
  width: 100%; 
  max-width: 300px;
  border-radius: 8px;
  object-fit: cover; 
}
footer {
  background-color: #212121;
  color: #FFFFFF; 
  text-align: center;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],input[type="email"], select
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.image-link {
  position: relative;
  display: inline-block;
}

.image-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); 
  color: white;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  z-index: 10;
  text-align: center;
}

.image-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.image-container:hover img {
  filter: brightness(50%);
}

#characterInfo img {
  width: 200px; 
  height: auto;
  display: block;
}

#characterInfo {
  margin-top: 20px;
}

#characterInfo p {
  margin-top: 10px;
}
#characterInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#characterInfo img {
  width: 200px; 
  height: auto;
  margin-right: 20px;
}

.bio-container {
  display: flex;
  flex-direction: column;
}
 

.select-container {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}


select {
  padding: 10px 20px; 
  font-size: 1.2em; 
  cursor: pointer; 
}


.combo-table table {
  width: 100%;
  border-collapse: collapse;
}

.combo-table th, .combo-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.combo-table th {
  background-color: #333;
  color: white;
}

