body {
  font-family: 'Arial', sans-serif;
  color: #c0c0c0;
  background-color: #121212; /* Dark background for the whole page */
  margin: 0;
  padding: 0;
}

header {
  background-color: #FF0000; /* Bright red header */
  padding: 10px 20px;
  text-align: center;
  color: #FFFFFF; /* White text for contrast */
}
nav {
  background-color: #212121;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
nav a {
  color: #FFA500; /* Using orange color for links */
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
nav a:hover {
  color: #FFFFFF; /* White on hover */
}
.container {
  padding: 20px;
  text-align: center;
}
.main-heading {
  color: #FFA500; /* Consistent orange color for headings */
  margin: 20px 0;
}
.overview {
  background-color: #282828; /* Slightly lighter dark shade for sections */
  padding: 20px;
  margin: 20px auto;
  width: 80%;
  border-radius: 8px;
}
.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery img {
  margin: 40px;
  width: 100%; /* Percentage of the container's width */
  max-width: 300px; /* Optional: to ensure they don't get too large on bigger screens */
  border-radius: 8px;
  object-fit: cover; /* Keeps aspect ratio, might crop some parts of the image */
}
footer {
  background-color: #212121;
  color: #FFFFFF; /* White text for footer for better readability */
  text-align: center;
  padding: 12px 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
form {
  max-width: 600px;
  margin: 0 auto;
}
label {
  display: block;
  margin-bottom: 10px;
}
input[type="text"],input[type="email"], select
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.image-link {
  position: relative;
  display: inline-block;
}

.image-container {
  position: relative;
}

.tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7); /* Dark background with opacity */
  color: white;
  padding: 5px 10px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  white-space: nowrap;
  z-index: 10;
  text-align: center;
}

.image-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.image-container:hover img {
  filter: brightness(50%);
}

#characterInfo img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  display: block;
}

#characterInfo {
  margin-top: 20px;
}

#characterInfo p {
  margin-top: 10px;
}
#characterInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#characterInfo img {
  width: 200px; /* Adjust size as needed */
  height: auto;
  margin-right: 20px;
}

.bio-container {
  display: flex;
  flex-direction: column;
}
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container {
  align-self: center; /* Center horizontally */
  margin-top: 100px; /* Lower it down from the center */
}
